
table{
  border-color: rgb(199, 237, 247); 
}
.ligne{
  background-color: white;
}
body {
background-color: rgb(199, 237, 247)   ; 
}
table {
width: 100%;
}
thead {
background-color: DodgerBlue ;
}
a{
  color:black;
  font-size: 20px;
}
h1 {
  color: rgb(70, 155, 224);
}

.image{
  height: 48px;
  width: 48px;
  
}
